In [1]:
import pandas as pd
import numpy as np
df_full = pd.read_csv("../../data/full.csv")

In [2]:
%pwd

'c:\\Users\\peera\\Desktop\\DroughtLSTM_oneday\\visualize\\results'

In [3]:
#check if there is any lat,lon miss some time steps (time steps are more than 31 days)
df_full['time'] = pd.to_datetime(df_full['time'])
df_full['time'].dt.month.value_counts().sort_index()
#check if there is any lat,lon miss some time steps (time steps are more than 31 days)
df_full['time'].dt.month.value_counts().sort_index()
#check if there is any lat,lon miss some time steps (time steps are more than 31 days)

C:\Users\peera\AppData\Local\Temp\ipykernel_54752\2110491648.py:2: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_full['time'] = pd.to_datetime(df_full['time'])

time
1     22017
2     22017
3     22017
4     22017
5     22017
6     22017
7     22017
8     22017
9     22017
10    22017
11    22017
12    22017
Name: count, dtype: int64

In [4]:
df_full.columns

Index(['lon', 'lat', 'time', 'tmp', 'dtr', 'cld', 'tmx', 'tmn', 'pre', 'wet',
       'vap', 'spei', 'soi', 'dmi', 'pdo', 'nino4', 'nino34', 'nino3', 'pet'],
      dtype='object')

In [31]:
#check if there is any lat,lon miss some time steps (time steps are more than 31 days)
df_merged['time'] = pd.to_datetime(df_merged['time'])
df_merged['time'].dt.month.value_counts().sort_index()
#check if there is any row that missed time steps
df_merged['time'].dt.month.value_counts().sort_index()

time
1     22016
2     22017
3     22017
4     22017
5     22017
6     22017
7     22017
8     22017
9     22017
10    22017
11    22017
12    22015
Name: count, dtype: int64

In [32]:
# Ensure datetime is sorted
df_merged = df_merged.sort_values(['lat', 'lon', 'time'])

# For each (lat, lon), compute time difference
df_merged['time_diff'] = df_merged.groupby(['lat', 'lon'])['time'].diff()

# Flag rows where gap is more than 31 days
missing_by_location = df_merged[df_merged['time_diff'] > pd.Timedelta(days=31)]

print(f"Total missing sequences: {len(missing_by_location)}")
display(missing_by_location[['lat', 'lon', 'time', 'time_diff']].head())

Total missing sequences: 3

          lat     lon       time time_diff
105467  15.25   99.25 1950-02-15   61 days
98984   15.75  105.25 1947-01-16   61 days
98981   17.25  104.75 1947-01-16   61 days

In [35]:
# get data at 15.25	99.25	1950-02-15
lat = 15.25
lon = 99.25
date = '1950-01-16'
df_subset = df_merged[(df_merged['lat'] == lat) & (df_merged['lon'] == lon) & (df_merged['time'] == date)]
df_subset

Empty DataFrame
Columns: [Unnamed: 0, lon, lat, time, tmp, dtr, cld, tmx, tmn, pet, pre, wet, vap, spei, soi, dmi, pdo, nino4, nino34, nino3, time_diff]
Index: []

[0 rows x 21 columns]